<h1>Orders</h1>

<% if @orders.nil? || @orders.empty? %>
Sorry there are no orders yet.
<% else %>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <% if current_admin? || current_user.merchant?%>
      <th>User</th>
      <% end %>
      <th>Status</th>
      <th>Details</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr id="order-<%= order.id %>">
        <td>
          <%= link_to "Order #{order.id}", order_path(order) %><br/>
          Created <%= distance_of_time_in_words(order.created_at, Time.now) %> ago<br/>
          Updated <%= distance_of_time_in_words(order.created_at, Time.now) %> ago
        </td>
        <% if current_admin? || current_user.merchant?%>
        <td><%= order.user.email %></td>
        <% end %>
        <td><%= order.status %></td>
        <td id="order-details-<%= order.id %>">
          <% order.order_items.each do |o_item| %>
            <%= o_item.item.name %>
            quantity: <%= o_item.quantity %>
            price: <%= number_to_currency(o_item.price) %>
            subtotal: <%= number_to_currency(o_item.subtotal) %>
            <br />
          <% end %>
        </td>
        <td>grand total: <%= number_to_currency(order.total) %></td>
        <td>
          <% if order.status == 'pending' %>
          <%= button_to 'Cancel Order', user_order_path(order.user, order), method: :patch, params: {status: :cancel} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
