<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<% if @orders.nil? || @orders.empty? %>
Sorry there are no orders yet.
<% else %>
<table>
  <thead>
    <tr>
      <% if current_admin? || current_user.merchant?%>
      <th>ID</th>
      <th>User</th>
      <% end %>
      <th>Status</th>
      <th>Details</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr id="order-<%= order.id %>">
        <% if current_admin? || current_user.merchant?%>
        <td>Order #<%= order.id %></td>
        <td><%= order.user.email %></td>
        <% end %>
        <td><%= order.status %></td>
        <td id="order-details-<%= order.id %>">
          <% order.order_items.each do |o_item| %>
            <%= o_item.item.name %>
            quantity: <%= o_item.quantity %>
            price: <%= number_to_currency(o_item.price) %>
            subtotal: <%= number_to_currency(o_item.subtotal) %>
            <br />
          <% end %>
        </td>
        <td>grand total: <%= number_to_currency(order.total) %></td>
        <td><%= link_to 'Show', order %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
