<h1>Order <%= @order.id %></h1>

<p>User Details</p>

<p>
<%= @user.name %><br/>
<%= @user.address %><br/>
<%= @user.city %>, <%= @user.state %><br/>
<%= @user.zip %><br/>
<%= @user.email %>
</p>

<p>Order Details</p>
<p>
<strong>Status:</strong> <%= @order.status %><br/>
Created <%= distance_of_time_in_words(@order.created_at, Time.now) %> ago<br/>
Updated <%= distance_of_time_in_words(@order.created_at, Time.now) %> ago
</p>

<p>Order Items</p>
<table>
  <tr>
    <th>Item Name</th>
    <th>Item Image</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Subtotal</th>
    <th></th>
  </tr>
  <% @order.order_items.each do |o_item| %>
  <% if @user == current_user || o_item.item.user == current_user %>
  <tr id="orderitem-details-<%= o_item.id %>">
    <td><%= o_item.item.name %></td>
    <td><img src="<%= o_item.item.image %>" width="200"/></td>
    <td><%= o_item.quantity %></td>
    <td><%= number_to_currency(o_item.price) %></td>
    <td><%= number_to_currency(o_item.subtotal) %></td>
    <td>
      <% if o_item.item.user == current_user && 
            current_user.merchant? && 
            o_item.fulfilled == false &&
            o_item.quantity <= o_item.item.inventory
      %>
      <%= button_to 'fulfill item', order_item_fulfill_path(@order, o_item), method: :patch %>
      <% elsif o_item.item.user == current_user && 
            current_user.merchant? && 
            o_item.fulfilled == false &&
            o_item.quantity > o_item.item.inventory
      %>
      <span class="red">cannot fulfill, not enough inventory</span>
      <% elsif o_item.item.user == current_user && 
            current_user.merchant? && 
            o_item.fulfilled == true
      %>
      (item fulfilled)
      <% end %>
    </td>
  </tr>
  <% end %>
  <% end %>
  <tr>
    <td colspan="3"></td>
    <td>grand total: <%= number_to_currency(@order.total) %></td>
  </tr>
</table>