<p id="notice"><%= notice %></p>

<h1>Merchants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @merchants.each do |merchant| %>
      <tr id="merchant-<%= merchant.id %>">
        <td><%= link_to merchant.name, merchant_path(merchant) %></td>
        <td><%= merchant.active %></td>
        <td>
          <% if merchant.active %>
          <%= button_to "Disable", user_path(merchant), method: :patch, params: { toggle: :disable } %>
          <% else %>
          <%= button_to "Enable", user_path(merchant), method: :patch, params: { toggle: :enable } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
