<p id="notice"><%= notice %></p>

<h1>Items</h1>

<div id="stats">
  <div id="popular-items">
    <p>Most Popular Items:</p>
    <% if @popular_items %>
    <ul>
    <% @popular_items.each do |item| %>
      <li><%= item.name %>, ordered <%= item.total_ordered %> times</li>
    <% end %>
    </ul>
    <% else %>
    <p>(none yet)</p>
    <% end %>
  </div>

  <div id="popular-merchants">
    <p>Most Popular Merchants:</p>
    <% if @popular_merchants %>
    <ul>
    <% @popular_merchants.each do |merchant| %>
      <li><%= merchant.name %>, ordered from <%= merchant.total_orders %> times</li>
    <% end %>
    </ul>
    <% else %>
    <p>(none yet)</p>
    <% end %>
  </div>

  <div id="fastest-merchants">
    <p>Fastest Merchants to Fulfill Ordered Items:</p>
    <% if @fastest_merchants %>
    <ol>
    <% @fastest_merchants.each do |merchant| %>
      <li><%= merchant.name %></li>
    <% end %>
    </ul>
    <% else %>
    <p>(none yet)</p>
    <% end %>
  </div>

  <div id="slowest-merchants">
    <p>Slowest Merchants to Fulfill Ordered Items:</p>
    <% if @slowest_merchants %>
    <ol>
    <% @slowest_merchants.each do |merchant| %>
      <li><%= merchant.name %></li>
    <% end %>
    </ul>
    <% else %>
    <p>(none yet)</p>
    <% end %>
  </div>
</div>

<% if current_user && current_user.merchant? %>
<%= link_to 'Add New Item', new_merchant_item_path(current_user) %>
<% end %>
<table>
  <thead>
    <tr>
      <% if current_admin? || current_user && current_user.merchant? %>
      <th>ID</th>
      <% unless current_user && current_user.merchant? %>
      <th>Merchant</th>
      <% end %>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th>Price</th>
      <th>Inventory</th>
      <% current_admin? || current_user && current_user.merchant? %>
      <th>Active</th>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr id="item-<%= item.id %>">
        <td>ID: <%= item.id %></td>
        <% if current_admin? || current_user != item.user %>
        <td>Merchant: <%= item.user.name %></td>
        <% end %>
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= item.description %></td>
        <td>
          <a href="<%= item_path(item) %>">
          <img id="item-image-<%= item.id %>" alt="image for <%= item.name %>" src="<%= item.image %>" width="200" />
          </a>
          </td>
        <td>Price: <%= item.price %></td>
        <td>Inventory: <%= item.inventory %></td>
        <% if current_admin? || current_user && current_user == item.user %>
        <td><%= item.active %></td>
        <td><%= link_to 'Edit Item', edit_merchant_item_path(current_user, item) %></td>
        <td>
          <% if item.active %>
          <%= button_to "Disable Item", merchant_item_disable_path(current_user, item.id), method: :patch, params: { toggle: :disable } %>
          <% else %>
          <%= button_to "Enable Item", merchant_item_enable_path(current_user, item.id), method: :patch, params: { toggle: :enable } %>
          <% end %>

        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
