<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Image:</strong>
  <img id="item-image-<%= @item.id %>" alt="image for <%= @item.name %>" src="<%= @item.image %>" />
</p>

<p>
  <strong>Merchant:</strong>
  <%= @item.user.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @item.inventory %>
</p>

<%= button_to 'Add to Cart', cart_item_quantity_path(item_id: @item.id), method: :patch, params: {quantity: :more} %>

<% if current_admin? || current_user == @item.user %>
<%= link_to 'Edit', edit_merchant_item(@item.user, @item) %> |
<% end %>
<%= link_to 'Back', items_path %>
