<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Image:</strong>
  <img id="item-image-<%= @item.id %>" alt="image for <%= @item.name %>" src="<%= @item.image %>" />
</p>

<p>
  <strong>Base Price:</strong> <%= number_to_currency(@item.price) %>
</p>

<% @item.inventory_items.each do |inventory_item| %>
  <%= content_tag(:div, id: "inventory-item-#{inventory_item.id}") do %>
    Merchant: <%= inventory_item.merchant %>
    Price: <%= number_to_currency(inventory_item.unit_price) %>
    Inventory: <%= inventory_item.inventory %>
    <%= button_to 'Add to Cart', cart_item_quantity_path(inventory_item_id: inventory_item.id), method: :patch, params: {quantity: :more} %>
  <% end %>
<% end %>

<% if current_admin? || (current_user && current_user.merchant?) %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>
<%= link_to 'Back', items_path %>
