<p id="notice"><%= notice %></p>

<p>
  <strong>Merchant:</strong>
  <%= @item.user.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%= @item.image %>" />
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @item.inventory %>
</p>

<p>
  <strong>Active:</strong>
  <%= @item.active %>
</p>

<% if current_admin? || current_user == @item.user %>
<%= link_to 'Edit', edit_merchant_item(@item.user, @item) %> |
<% end %>
<%= link_to 'Back', items_path %>
